{% extends 'paginas/modelo.html' %} {% load static %} {% load crispy_forms_tags %} {% block pagetitle %}
<h1>Excluir</h1>

{% endblock %} {% block breadcrumb %}
<nav>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
        <li class="breadcrumb-item active">Excluir</li>
    </ol>
</nav>
{% endblock %}

<p class="lead tex-danger">
    Tem certeza que deseja excluir o registro: </br>
    {{ object }}
</p>

{% block main %}
<form method="post">
    {% csrf_token %} {{ form|crispy }}

    <button type="submit" class="btn btn-danger">
		Excluir
	</button>

</form>

{% endblock %}