{% extends 'paginas/modelo.html' %} {% load static %} {% block main %} {% load meus_filtros %}


<section class="section dashboard">
    <div class="row">

        <div class="col-lg-4">
            {% csrf_token %} {% if valortotal is not null%}
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Total</h5>
                    {% cifra_real valortotal %}
                </div>
            </div>
            {% endif %}

            <!-- End Default Card -->
        </div>
        <div class="col-lg-4">
            {% csrf_token %} {% if saidas is not null%}
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Despesas</h5>
                    {% cifra_real saidas %}
                </div>
            </div>
            {% endif %}

            <!-- End Default Card -->
        </div>

        <div class="col-lg-4">
            {% csrf_token %} {% if entradas is not null%}
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Receitas</h5>
                    {% cifra_real entradas %}
                </div>
            </div>
            {% endif %}

            <!-- End Default Card -->
        </div>


    </div>
    </div>
</section>

<!-- <hr> -->


<!-- <button id="btn-teste" class="btn btn-primary">Teste</button> -->
<!-- <button id="btn-teste1" class="btn btn-primary">Teste</button> -->
<!-- <button id="btn-teste2" class="btn btn-primary">Teste</button> -->
<!-- <button id="btn-teste3" class="btn btn-primary">Teste</button> -->


<!-- <div class="div-teste p-3 my-3	 bg-secondary"> div com alguma coisa</div> -->

<!-- <div class="div-teste1 p-3 my-3	 bg-warning" style="display: none;"> div com alguma coisa</div> -->

<!-- <input type="text" name="teste" id="input-teste" class="form-control" value="42">-->{% endblock %} {% block scripts %}
<script>
    $(document).ready(function() {
        // alert()

        // $(seletor).acao();
        // $(seletor).evento(function() {  });

        $('#btn-teste').click(function() {
            $('.div-teste1').hide();
            $('.div-teste').fadeIn();
        });


        $('#btn-teste1').click(function() {
            $('.div-teste').hide();

            var v = $('#input-teste').val();
            $('.div-teste1').text(v);

            $('.div-teste1').fadeIn();
        });


        $('#btn-teste2').click(function() {
            $('.div-teste').hide();
            $('.div-teste1').removeClass('bg-warning')
                .addClass('bg-success')
                .fadeIn();
        });

        $('#btn-teste3').click(function(e) {
            // elemento do html
            e.preventDefault();

            var tipo = $('#input-test').attr('type');

            if (tipo == 'password') {
                $('#input-test').attr('type', 'text');
            } else {
                $('#input-test').attr('type', 'password');
            }


        });


        // $('#btn-teste2').mouseup(function() {
        //     $('.div-teste1').removeClass('bg-secondary')
        //         .addClass('bg-primary')
        //         .fadeIn();
        // });

        // $('#btn-teste2').mouseout(function() {
        //     $('.div-teste1').removeClass('bg-primary')
        //         .addClass('bg-secondary')
        //         .fadeIn();
        // });
    });
</script>
{% endblock %}

</html>