{% extends 'paginas/modelo.html' %} {% load static %} {% block pagetitle %}
<h1>Lista de categorias
    <a href="{% url 'cadastrar-categoria' %}" class="btn btn-primary float-right ms-5">
		Cadastrar categorias
	</a>
</h1>
{% endblock %} {% block breadcrumb %}
<nav>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
        <li class="breadcrumb-item active">Categorias</li>
    </ol>
</nav>
{% endblock %} {% block main %}
<table class="table table-striped">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Descrição</th>
            <th>Opções</th>
        </tr>
    </thead>

    <tbody>
        {% for obj in object_list %}
        <tr>
            <td>{{ obj.nome }}</td>
            <td>{{ obj.descricao }}</td>
            <td>
                <a href="{% url 'editar-categoria' obj.pk %}" class="btn btn-warning">Editar</a>
                <a href="{% url 'excluir-categoria' obj.pk %}" class="btn btn-danger">Excluir</a>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="100%">Nenhum registro encontrado.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}