{% extends 'paginas/modelo.html' %} {% load static %} {% block pagetitle %}
<h1>Lista de movimentações
	<a href="{% url 'cadastrar-movimentacao-entrada' %}" class="btn btn-primary float-right ms-5">
		Cadastrar movimentações
	</a>
</h1>
{% endblock %} {% block breadcrumb %}
<nav>
	<ol class="breadcrumb">
		<li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
		<li class="breadcrumb-item active">Movimentações</li>
	</ol>
</nav>
{% endblock %} {% block main %}
<table class="table table-striped">
	<thead>
		<tr>
			<th>Descrição</th>
			<th>Categoria</th>
			<th>Conta</th>
			<th>Valor</th>
			<th>Data e hora</th>
			<th>Opções</th>
		</tr>
	</thead>

	<tbody>
		{% for obj in object_list %}
		<tr>
			<td>{{ obj.descricao }}</td>
			<td>{{ obj.categoria }}</td>
			<td>{{ obj.conta_bancaria }}</td>
			<td>{{ obj.valor }}</td>
			<td>{{ obj.cadastrado_em }}</td>
			<td>
				<a href="{% url 'editar-movimentacao-entrada' obj.pk %}" class="btn btn-warning">Editar</a>
				<a href="{% url 'excluir-movimentacao-entrada' obj.pk %}" class="btn btn-danger">Excluir</a>
			</td>
		</tr>
		{% empty %}
		<tr>
			<td colspan="100%">Nenhum registro encontrado.</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
{% endblock %}